/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{
  margin:0;
  padding: 0;
}

body {
  height: 100%;
  position: relative;
}

header{
  font-family: 'Rubik';
  display:flex;
  justify-content: flex-end;
  align-items: center;
  height:110px;
  background-color: #f3faff;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}

/* start of navbar styling */

#welcome{
  cursor: pointer;
  margin-right: auto;
  margin-left: 100px;
  color:#7AD7F0
  }

.navbar-nav{
  list-style: none;
}
.navbar-nav li{
  font-size: 20px;
  display:inline-block;
  list-style: none;
  padding: 0px 20px
}

/* end of navbar styling */

/* start of home page styling */
#titleContainer{
  position: relative;
  display:block;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 800px;
  background-image: linear-gradient(#f3faff,#f6f8f9 );
  text-align: left;
}
#titleBox {
  margin-top: 250px;
  height:200px;
  width: 100%;
  display:flex;
  flex-direction: column;
  margin-bottom: 100px;
  /* align-content: center;
  justify-content: center; */
}

#title,#titleDescription{
  margin-left: 20%;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: .5px;
  color: black;
}

#title {
  font-size: 50px;
}
#titleDescription{
  font-size: 30px;
}

#midArrow{
display: flex;
justify-content: center;
position: relative;
}
.arrow{
  height: 50px;
  width: 50px;
  animation-timing-function: ease-in-out;
}
/* end of home page styling */

/* start of footer card styles */
#footerContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Rubik;
  background-color: #f3faff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footerYear,#footerName,#footerTitle {
  text-align:center
}
/* end of footer card styles */

/* start of entry form style*/
.new-entry-form {
  text-align: center;
}

#entry {
  height: 100px;
}
#new-entry-form{
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; 
}

/* end of entry form style*/

/* start of entry card style*/
#entryContainer{
  font-family: 'Rubik';
  background-image: linear-gradient(#f7f7f7,#f3faff );
  min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; 
}

#cardImg {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

#container {
  width:auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5vh;
}
.card {
  padding:100px;
  width:250px;
  height:400px;
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  /* color: #ff8886; */
  color: #ffbdc7;
  background-color: #fff0f3;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
}
/* end of entry card style*/


/* start of entry individual view style*/
#entryEdit{
  font-family: 'Rubik';
  min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px;
 display:flex;
 flex-direction: column;
 align-content:center;
 gap: 20px;
 background-image: linear-gradient(#f3faff,#fff8f9 40%,#f3faff );
}

.textArea{
  /* color: black; */
text-align: center;
border: 1px solid ;
border-radius:12px;
font-size:16px;
padding:15px;
margin:5px;
}

#entryTitle{
  text-align: center;
  margin:0 auto;
  width:300px;
}

#entryMood{
  display:flex;
  margin:0 auto;
  text-align: center;
  max-width: 400px;
}

#entryContent{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  /* justify-content: space-evenly; */
  margin-top:20px;
  height: 350px
}

#entryImg{
  max-width:400px;
  border-radius: 12px;
  height: 100%;
}

#entryContentTitle{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

#entryBubble{
  /* color: black; */
  border: 1px solid ;
  text-align: center;
  border-radius: 12px;
  height:100%;
  width: 400px;
}
/* start of entry individual view style*/

/* start of entry display style*/
#filterContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  width: 100%;
}
#homePage{
  text-align: center;
}

/* end of entry display style*/


/* start of login style */
#loginContainer{
  font-family: 'Rubik';
  min-height: 100vh;
  overflow: hidden;
  display: block;
  display:flex;
  justify-content:center;
  align-items: center;
  position: relative;
  padding-bottom: 100px; 
  background-image: linear-gradient(#e3f3fa 30%,#f3faff );
  gap:10px;
}

.inputBox{
  border-radius:25px;
  border:none;
  padding: 20px;
  gap:10px;
}

#inputContainer{
  display:flex;
  flex-direction:column;
  gap:15px;
}

#logoLogin{
  width: 100%;
  height: 234px;
  /* margin-bottom:-19px; */
}
#loginContent{
  max-width: 234px;
  display:flex;
  flex-direction:column;
  gap: 40px;
  align-content:space-around;
}
/* end of login style */

/* start of mission style */
#missionContainer{
  font-family: 'Rubik';
  min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px;
 /* background-color:#d8f2fb; */
 background-image: linear-gradient(#d8f2fb 50%,#f3faff );
 display:flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
}
#logoMission{
  border-radius: 100px;
  width: 800px;
  height: 500px;
  margin-bottom:40px; 
}

#missionContent{
  max-width: 800px;
}
/* start of mission style */